# Build output
bin/
obj/
*.*cache
*.log
*.tmp
*.bak
*.swp
*.swo
*.DS_Store
*.vscode/
*.idea/
*.vs/
*.sln
*.suo
*.json
secret.yaml
secret*.yaml
server/appsettings.json
server/appsettings.*.json
package-lock.json
node_modules/
alloy-*.yaml
.env