apiVersion: v1
kind: Secret
metadata:
  name: cleanmap-observability-secret
  namespace: default
type: Opaque
stringData:
  GRAFANA_API_KEY: "${GRAFANA_API_KEY}"
  GRAFANA_OTLP_URL: "${GRAFANA_OTLP_URL}"
  LOKI_URL: "${LOKI_URL}"
  LOKI_USERNAME: "${LOKI_USERNAME}"
  LOKI_PASSWORD: "${LOKI_PASSWORD}"
